a {
    color: black
    margin-right: 50px;
    margin-left: 50px;
    margin-bottom: 100px;
    font-family: 'IBM Plex Sans', sans-serif;
}

h1 {
    margin-left: 50px;
    padding: 10px;
    margin: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
}

div {
    border-bottom-style: solid;
    border-bottom-width: 5px;
    padding-bottom: 10px;
}

    